.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


application-dev.properties
/bin
/.vscode
.DS_Store

bak/
tmp/
scripts/

node_modules/
package-lock.json

openspec/
.serena/
workspace/
